/* ==== Colors ==== */
.pm-background-darkblue {
    background: #08415C;
}

.pm-background-lightblue {
    background: #6B818C;
}

.pm-background-red {
    background: #CC2936;
}

.pm-background-white {
    background: #EEE5E9;
}

.pm-background-manhattan {
    background: #F1Bf98;
}

.pm-color-darkblue {
    color: #08415C;
}

.pm-color-lightblue {
    color: #6B818C;
}

.pm-color-red {
    color: #CC2936;
}

.pm-color-white {
    color: #EEE5E9;
}

.pm-color-manhattan {
    color: #F1Bf98;
}


/* ==== Buttons ==== */
/* Use it together with uk-button */

.pm-button-primary {
    font-weight: 500;
    background-color: #6B818C;
    color: #ffffff;
    border-radius: 8px;
}

.pm-button-primary:hover {
    background-color: #3e5d6c;
    color: #ffffff;
}

.pm-button-primary:active,
.pm-button-primary.pm-active {
    background-color: #08415C;
    color: #ffffff;
}

.pm-button-secondary {
    font-weight: 500;
    background-color: #CC2936;
    color: #ffffff;
    border-radius: 8px;
}

.pm-button-darkblue {
    font-weight: 500;
    background-color: #08415C;
    color: #ffffff;
    border-radius: 8px;
}

.pm-button-secondary:hover {
    background-color: #ab1f2c;
    color: #ffffff;
}

.pm-button-secondary:active,
.pm-button-secondary.pm-active {
    background-color: #9d1d2a;
    color: #ffffff;
}

.pm-button-manhattan {
    font-weight: 500;
    background-color: #F1Bf98;
    color: #ffffff;
    border-radius: 8px;
}

.pm-button-manhattan:hover {
    background-color: #d3ad8d;
    color: #ffffff;
}

.pm-button-manhattan:active,
.pm-button-manhattan.pm-active {
    background-color: #c2a084;
    color: #ffffff;
}

/* ==== Forms ==== */
/* Use it together with uk framework*/

.pm-form-blue:checked {
    background-color: #08415C !important;
}

.pm-form-blue:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pm-form-blue:focus {
    border-color: #e5e5e5 !important;
}

.pm-form-lightblue:checked {
    background-color: #6B818C !important;
}

.pm-form-lightblue:focus {
    border-color: #e5e5e5 !important;
}

.pm-form-lightblue:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pm-form-red:checked {
    background-color: #CC2936 !important;
}

.pm-form-red:focus {
    border-color: #e5e5e5 !important;
}

.pm-form-red:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

.pm-form-manhattan:checked {
    background-color: #F1Bf98 !important;
}

.pm-form-manhattan:focus {
    border-color: #e5e5e5 !important;
}

.pm-form-manhattan:disabled {
    background-color: #f8f8f8 !important;
    border-color: #e5e5e5 !important;
}

/* ==== Forms ==== */
/* Use it together with uk framework*/
.pm-input {
    background-color: #EEE5E9 !important;
    border: 2px solid #6B818C !important;
    color: #6B818C;
}

.pm-input:focus {
    border: 2px solid #F1Bf98 !important;
}

/* ==== Font ==== */
.pm-font-size-small {
    font-size: 16px;
}

.pm-font-size-medium {
    font-size: 21px;
}

.pm-font-size-large {
    font-size: 32px;
}

/* ==== Border ==== */
.pm-border-solid {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #08415C !important;
    border-radius: 15px;
}

.pm-border-dashed {
    border-width: 2px;
    border-style: dashed;
    border-color: #6B818C;
    border-radius: 15px;
}

/* ==== Other ==== */
.pm-indicator {
    width: 30px;
    border-width: 2px;
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.pm-dot-small{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
}

.pm-dot-medium{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.uk-subnav-pill>.uk-active>a
{
    background-color: #08415C;
    color: #ffffff;
}

.uk-subnav-pill>*>a:hover
{
    background-color: #6B818C !important;
    color: #ffffff;
}

.uk-tab>.uk-active>a {
    color: #08415C;
    border-color: #08415C !important;
    font-size: 18px !important;
    font-weight: bold;
}

.uk-tab>*>a {
    color: #6B818C;
    font-size: 18px !important;
}

.pm-padding-verysmall
{
    padding: 5px;
}