<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar uk-scrollspy="cls: uk-animation-slide-top;">
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <div class="uk-navbar-item uk-margin-xlarge-right">
                <span class="uk-icon pm-color-darkblue" uk-icon="icon: receiver; ratio: 1.8"></span>
                <span style="font-size: 21px" class="uk-text-bold uk-margin-right uk-margin-left">737 953 283</span>
                <span style="font-size: 21px" class="uk-text-bold pm-color-lightblue">IT support</span>
            </div>
        </ul>
    </div>
</nav>