{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <style>
    body
    {
        overflow-x: hidden;
    }
    </style>
    <div>
        <div class="tk-blob uk-position-absolute" style="--fill: #d7dcdf; --time: 120s; z-index: -999; width: 1500px; top: -600px; left: -800px">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412.3 354.7">
            <path d="m 334 47 c 57 28 97 39 85.2 111.6 s -33 63 -93 93 c -75.2 30.4 -100.2 26.4 -186.4 26.5 c -66.8 -10.1 -128.8 -29.1 -132.8 -74.1 c -3 -40 12 -54 74 -131 c 22 -20 21 -46 110 -53 c 62 1 41 11 92 17 z"></path>
          </svg>
        </div>
    </div>
    <div class="uk-position-center">
        {% if object.pk != user.pk %}
        <h4>Change the role for {{ object.first_name }} {{ object.last_name }}</h4>
        {% else %}
        <h4>Change your own role</h4>
        {% endif %}
        <form method="post" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column">
            {% csrf_token %}
            {% render_field form.role class+="uk-input pm-input" %}
            <p class="uk-text-meta uk-text-center uk-margin-remove-top">Role</p>
            <input class="uk-button pm-button-primary" type="submit" value="Change Role">
        </form>
    </div>
{% endblock content %}