{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block navbar %}
    {% include 'registrar/navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div class="uk-container uk-container-small uk-margin-large-top uk-margin-large-bottom" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div, > ul; delay: 100;" style="border-radius: 12px;">
        <ul class="uk-breadcrumb">
            <li><a href="{% url 'registrar_patient_board' %}">Patient Board</a></li>
            <li><a href="{% url 'registrar_patient' patient.pk %}">{{ patient.name }} {{ patient.surname }}</a></li>
            <li class="uk-text-bolder uk-disabled"><a href="#">Add appointment</a></li>
        </ul>
         <!-- Start Filters -->
        <div class="uk-width-1-1 uk-grid-small uk-margin" uk-grid>
            <div class="uk-flex uk-flex-middle">
                <div>Used filters:</div>
            </div>
            <div class="uk-margin-small">
                <div class="pm-background-white uk-border-rounded pm-padding-verysmall">Earliest date: {{ earliest_date }}</div>
            </div>
            <div class="uk-margin-small">
                <div class="pm-background-white uk-border-rounded pm-padding-verysmall">Latest date: {{ latest_date }}</div>
            </div>
            <div class="uk-margin-small">
                <div class="pm-background-white uk-border-rounded pm-padding-verysmall">Speciality: {{ specialization.name }}</div>
            </div>
            {% if doctor %}
            <div class="uk-margin-small">
                <div class="pm-background-white uk-border-rounded pm-padding-verysmall">Doctor: {{ doctor.name }} {{ doctor.surname }}</div>
            </div>
            {% endif %}
        </div>
         <!-- End Filters -->
        <div class="uk-padding-small pm-background-white uk-border-rounded">
            <div class="uk-grid-column-collapse" uk-grid>
                <!-- Table Headers -->
                <div class="uk-visible@m uk-margin-small uk-width-1-1 uk-child-width-1-5 uk-grid-collapse uk-text-bold pm-color-darkblue" style="margin-left: 60px" uk-grid>
                    <div>Doctor</div>
                    <div>Speciality</div>
                    <div>Contact</div>
                    <div>Appointment</div>
                    <div></div>
                </div>
                <!-- End Table Headers -->
                <!-- Start row -->
                {% for visit in possible_visits %}
                <div class="uk-margin-small uk-width-1-1 uk-grid-collapse uk-background-default" uk-grid>
                    <div class="pm-indicator pm-background-darkblue"></div>
                    <div class="uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-width-1-1 uk-child-width-1-5@m" uk-grid>
                        <div class="uk-flex-middle uk-grid-collapse" uk-grid>
                            <div class="uk-hidden@m uk-padding-small uk-text-bold uk-width-1-2">
                                <p>Doctor:</p>
                            </div>
                            <div>
                                <p class="pm-color-darkblue uk-text-bold pm-font-size-medium uk-margin-remove-bottom">{{ visit.doctor.name }} {{ visit.doctor.surname }}</p>
                                <p class="uk-text-meta uk-margin-remove-top">Male, 46 yr</p>
                            </div>
                        </div>
                        <div class="uk-flex-middle uk-grid-collapse" uk-grid>
                            <div class="uk-hidden@m uk-padding-small uk-text-bold uk-width-1-2">
                                <p>Speciality:</p>
                            </div>
                            <div>
                                <p class="uk-text-meta uk-margin-remove-top">Unknown</p>
                            </div>
                        </div>
                        <div class="uk-flex-middle uk-grid-collapse" uk-grid>
                            <div class="uk-hidden@m uk-padding-small uk-text-bold uk-width-1-2">
                                <p>Contact:</p>
                            </div>
                            <div>
                                <p class="uk-text-meta uk-margin-remove-top">Unknown</p>
                            </div>
                        </div>
                        <div class="uk-flex-middle uk-grid-collapse" uk-grid>
                            <div class="uk-hidden@m uk-padding-small uk-text-bold uk-width-1-2">
                                <p>Appointment:</p>
                            </div>
                            <div>
                                <p class="pm-color-darkblue uk-text-bold pm-font-size-small uk-margin-remove-bottom">{{ visit.visit_start|date:"d.m.y (D)" }}</p>
                                <p class="uk-text-meta uk-margin-remove-top">{{ visit.visit_start|date:"H:i" }} - {{ visit.visit_end|date:"H:i" }}</p>
                            </div>
                        </div>
                        <div class="uk-text-center">
                            <button class="uk-button uk-button-small pm-button-primary">Make an appointment</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End row -->
            </div>
        </div>
        <div class="uk-margin uk-flex uk-flex-right">
            <button class="uk-button pm-button-primary">Change filters</button>
        </div>
        {% if is_paginated %}
        <div class="uk-flex uk-flex-center">
            <ul class="uk-pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"><span uk-pagination-previous></a></li>
                {% else %}
                <li class="uk-disabled"></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="uk-active"><span>{{ i }}</span></li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><span uk-pagination-next></a></li>
                {% else %}
                <li class="uk-disabled"></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock content %}