{% extends 'base.html' %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock navbar %}

{% block content %}
    {% if current_patient %}
        <div class="uk-animation-toggle uk-animation-slide-top-medium uk-container uk-margin-medium-top pm-background-white uk-border-rounded">
            <div class="uk-padding">
                <p class="uk-text-bold pm-color-darkblue pm-font-size-medium">Current Patient:</p>
            </div>
            <div class="uk-grid-column-collapse uk-margin-medium-bottom" uk-grid>
                <div class="uk-flex uk-flex-middle uk-flex-center uk-grid-collapse pm-color-darkblue uk-width-1-5@s uk-width-1-1 uk-margin" uk-grid>
                    <div class="uk-background-default uk-padding-small uk-border-rounded uk-text-bold uk-width-auto@s">NOW</div>
                    <div class="uk-padding-small uk-visible@s">
                         <span class="pm-dot-medium pm-background-darkblue"></span>
                    </div>
                </div>
                <div class="uk-width-expand uk-grid-collapse uk-background-default uk-padding-remove pm-border-solid" uk-grid>
                    <div class="pm-background-darkblue uk-visible@m pm-indicator"></div>
                    <div class="uk-width-2-5@m uk-width-1-1@s uk-margin-small uk-margin-small-left uk-margin-small-right uk-margin-auto-vertical">
                        <table class="uk-margin-small-left uk-table-small uk-width-expand uk-padding-small uk-margin-top">
                            <caption class="uk-margin-remove pm-color-darkblue uk-text-bold uk-text-justify pm-font-size-medium">{{current_patient.patient.name}} {{current_patient.patient.surname}}</caption>
                            <tr>
                                <td class="uk-padding-remove">ID: </td>
                                <td class="uk-padding-remove uk-text-right">{{ current_patient.patient.personid}}</td>
                            </tr>
                            <tr>
                                <td class="uk-padding-remove">Age: </td>
                                <td class="uk-padding-remove uk-text-right">{{ current_patient.patient.age}}</td>
                            </tr>
                            <tr>
                                <td class="uk-padding-remove">Contact: </td>
                                <td class="uk-padding-remove uk-text-right">{{ current_patient.patient.phone_number}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="uk-width-1-5@m uk-width-expand@s uk-text-center uk-margin-auto-vertical uk-margin-small uk-margin-small-left uk-margin-small-right ">
                        <a href="{% url 'doctor_visit' current_patient.id %}"><button style="font-size: 16px" class="uk-button pm-button-primary">Appointment</button></a>
                    </div>
                    <div class="uk-width-1-5@m uk-width-expand@s uk-text-center uk-margin-auto-vertical uk-margin-small uk-margin-small-left uk-margin-small-right ">
                        <a href="{% url 'doctor_endvisit' current_patient.id %}"><button style="font-size: 16px" class="uk-button pm-button-primary uk-margin-top uk-margin-bottom">End Visit</button></a>
                    </div>
                </div>
            </div>
        </div>
    {%else%}
        <div class="uk-container uk-margin-medium pm-border-dashed">
            <p class="uk-padding-large uk-text-center uk-text-bolder uk-text-large pm-color-lightblue">No patients for now!</p>
        </div>
    {%endif%}

    <div class="uk-container uk-margin-medium-top pm-background-white uk-border-rounded uk-animation-toggle uk-animation-slide-bottom-medium">
        <div class="uk-padding">
            <p class="uk-text-bold pm-color-darkblue pm-font-size-medium">Next Patient:</p>
        </div>
        {% for visit in visit_list %}
            <div class="uk-grid-column-collapse uk-margin-medium-bottom" uk-grid>
                <div class="uk-flex uk-flex-middle uk-flex-center uk-grid-collapse pm-color-darkblue uk-width-1-5@s uk-width-1-1 uk-margin" uk-grid>
                    <div class="uk-width-2-3@s uk-width-1-1 uk-text-center">
                        <p class="uk-padding-remove uk-margin-remove uk-text-break">{{visit.date}}</p>
                    </div>
                    <div class="uk-padding-small uk-visible@s uk-width-1-3">
                         <span class="pm-dot-small pm-background-darkblue"></span>
                        {% if not forloop.last %}
                            <div style="border-left: 1px solid; margin-left: 2px" class="uk-position-absolute uk-height-small"></div>
                        {% endif %}
                    </div>
                </div>
                <div  class="uk-width-expand uk-grid-collapse pmi-border uk-border-rounded uk-background-default uk-padding-remove pm-border-solid" uk-grid>
                    <div class="uk-width-2-5@m uk-width-1-1@s uk-margin-small uk-margin-small-left uk-margin-small-right uk-margin-auto-vertical">
                        <table class="uk-margin-small-left uk-table-small uk-width-expand uk-padding-small uk-margin-top">
                            <caption class="uk-margin-remove pm-color-darkblue uk-text-bold uk-text-justify pm-font-size-medium">{{visit.patient.name}} {{visit.patient.surname}}</caption>
                            <tr>
                                <td class="uk-padding-remove">ID: </td>
                                <td class="uk-padding-remove uk-text-right">{{visit.patient.personid}}</td>
                            </tr>
                            <tr>
                                <td class="uk-padding-remove">Age: </td>
                                <td class="uk-padding-remove uk-text-right">{{visit.patient.age}}</td>
                            </tr>
                            <tr>
                                <td class="uk-padding-remove">Contact: </td>
                                <td class="uk-padding-remove uk-text-right">{{visit.patient.phone_number}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="uk-width-1-5@m uk-width-expand@s uk-text-center uk-margin-auto-vertical uk-margin-small uk-margin-small-left uk-margin-small-right ">
                        <a href="{% url 'doctor_visit' visit.id %}"><button class="uk-button pm-button-primary pm-font-size-small">Appointment</button></a>
                    </div>
                    <div class="uk-width-1-5@m uk-width-expand@s uk-text-center uk-margin-auto-vertical uk-margin-small uk-margin-small-left uk-margin-small-right ">
                        <a href="{% url 'doctor_endvisit' visit.id %}"><button class="uk-button pm-button-primary uk-margin-top uk-margin-bottom pm-font-size-small">End visit</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock content %}