{% extends 'base.html' %}

{% block navbar %}
    {% include 'registration/navbar.html' %}
{% endblock navbar %}

{% block content %}
    {% if current_patient %}
        <h2> Current patient:  </h2> 
        Patient id: {{ current_patient.patient.id}} <br/>
        Patient Name: {{current_patient.patient.name}} {{current_patient.patient.surname}} <br/>
        Scheduled for: Now <br/>
    {%else%}
    <h2> No patients for today! </h2>
    {%endif%}

    <h2> Next patients: </h2> 
    {% for visit in visit_list %}
        Patient id: {{ visit.patient.id}} <br/>
        Patient Name: {{visit.patient.name}} {{visit.patient.surname}} <br/>
        Scheduled for: {{visit.date}} <br/>
    {% endfor %}

{% endblock content %}