{% extends 'doctor/doctor_visit.html' %}
{% load static %}

{% block left_side %}
<div class="uk-width-1-1">
    <ul class="uk-subnav uk-subnav-pill" uk-margin>
        <li><a href="{% url "doctor_visit" visit.id%}" class="pm-button-secondary">Examine</a></li>
        <li><a href="{% url "doctor_order_test" visit.id %}" class="pm-button-secondary">Order Test</a></li>
        <li class="uk-active"><a href="#" class="pm-button-secondary">History</a></li>
        <li><a href="{% url "doctor_prescription" visit.id%}" class="pm-button-secondary">Prescription</a></li>
    </ul>
        <ul uk-accordion>
            <li>
                <div class="uk-text-left pm-background-white uk-accordion-title">
                    <p style="font-size: 24px;" class="uk-text-bold pm-color-darkblue uk-margin-medium-left uk-margin-remove-bottom">Visit history</p>
                </div>
                <div class="uk-accordion-content">
                    <table class="uk-table uk-table-striped uk-text-left">
                        <thead>
                            <tr>
                                <th class="uk-width-small">Date of visit</th>
                                <th>Name of disease</th>
                                <th class="uk-table-expand">Medical interview</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for visit in prev_visits%}
                            <tr>
                                <td>{{visit.date}}</td>
                                <td>{{visit.diagnosis}}</td>
                                <td>{{visit.remarks}}</td>
                                <td><a href="{% url "doctor_visit" visit.id%}"><button style="font-size: 14px" class="uk-button pm-button-primary uk-button-small uk-align-center">View</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
</div>
{% endblock left_side %}