{% extends 'doctor/doctor_visit.html' %}
{% load static %}

{% block left_side %}
    <div class="uk-width-1-1">
        <ul uk-tab>
            <li><a href="#">Examine</a></li>
            <li class="uk-active"><a href="#">Order Test</a></li>
            <li><a href="#">History</a></li>
        </ul>
        <div class="uk-text-left pm-background-white">
            <p style="font-size: 24px;" class="uk-text-bold pm-color-darkblue uk-margin-medium-left">Order test</p>
        </div>
        <div class="uk-text-left uk-margin-medium-top">
            <p style="font-size: 18px;" class="pm-color-darkblue uk-margin-medium-left uk-text-bold uk-margin-remove-bottom">Test Type</p>
            <hr class="pm-color-darkblue uk-margin-remove-top">
        </div>
        <div>
            <select class="uk-select pm-input">
                <option>Option 01</option>
                <option>Option 02</option>
            </select>
        </div>
        <div class="uk-text-left uk-margin-medium-top">
            <p style="font-size: 18px;" class="pm-color-darkblue uk-margin-medium-left uk-text-bold uk-margin-remove-bottom">Information regarding the test</p>
            <hr class="pm-color-darkblue uk-margin-remove-top">
        </div>
        <div>
        <textarea class="uk-textarea  uk-flex-wrap-middle pm-input" style="border-width: 2px" rows="3" placeholder="Provide information regarding the test"></textarea>
        </div>
        <div class="uk-flex-right uk-child-width-auto" uk-grid>
            <div class="uk-margin-small-top">
                <a href="{% url "homepage" %}"><button style="font-size: 14px" class="uk-button pm-button-primary uk-button-large">Clear</button></a>
            </div>
            <div class="uk-margin-small-top">
                <a href="{% url "homepage" %}"><button style="font-size: 14px" class="uk-button pm-button-primary uk-button-large">Submit</button></a>
            </div>
            <div  class="uk-margin-small-top">
                <a href="{% url "homepage" %}"><button style="font-size: 14px" class="uk-button pm-button-secondary uk-button-large">End visit</button></a>
            </div>
        </div>
    </div>
{% endblock left_side %}