{% extends 'base.html' %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock navbar %}

{% block content %}
    <h2> Pending tests: </h2>
    {% for test in pending_tests %}
        <p> {{test.status}} </p>
        <p> {{ test.visit.patient.name}} {{ test.visit.patient.surname}} </p>
        <p> {{test.type}} </p>
        <a href="{% url 'technician_submit_result' test.id %}"><button> Submit </button> </a>
    </br>
    {% endfor %}
    <h2> Recently closed tests: </h2>
    {% for test in recently_closed %}
        <p> {{test.status}} </p>
        <p> {{ test.visit.patient.name}} {{ test.visit.patient.surname}} </p>
        <p> {{test.type}} </p>
        
    </br>
    {% endfor %}
{% endblock content %}